* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

// The framework default theme
// @import 'themes/default/main';

// The core framework
@import 'core/grid/grid';
@import 'core/inputs/text';
@import 'core/inputs/checkbox';
@import 'core/inputs/radio';
@import 'core/inputs/button';