* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

// The framework default theme
// @import 'themes/default/main';

// The core framework
@import 'core/grid/grid.scss';
@import 'core/misc/hr.scss';
@import 'core/misc/helper.scss';
@import 'core/misc/header.scss';
@import 'core/inputs/select.scss';
@import 'core/inputs/text.scss';
@import 'core/inputs/checkbox.scss';
@import 'core/inputs/radio.scss';
@import 'core/inputs/button.scss';