.txt-group {

    position: relative;
    width: 100%;
    display: inline-block;

    label {
        color: #999999;
    }
}

input[type=text] {
    display: inline-block;
    width: 100%;
    background: transparent;
    border: solid 1px #dddddd;
    padding: 10px;
    border-radius: 3px;
}